{% extends 'base.html' %}
{% load thumbnail %}
{% load static %} 
{% block title %}    
  На кого я подписан
{% endblock %}    
{% block content %}
  {% include 'posts/includes/switcher.html' %}
  <div class="container">
    {% for post in page_obj %}
      {% include 'posts/includes/post_list.html' %}
      {% if post.group %}
        <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
      {% endif %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  </div>
  {% include 'posts/includes/paginator.html' %}
{% endblock %}
